$fontColor: #252525;
$borderRadius: 10px;
$borderRadiusButton: 7px;
$borderRadiusInput: 7px;
$transitionTime: 0.3s;

$color1: #1c976b;
$color2: #252525;
$color3: #fec188;
$color4: #f8fafb;
$color5: #e2e2e2;
$color6: #f6b93b;
$color7: #bbbaba;
